$flex-dir:row-reverse;
$start:right;
$end:left;
$mainfont:'Cairo', sans-serif;
.ar{
    display: block !important;
}
.en{
    display: none !important;
}
.btn-ar{
display: inline !important;
}
.btn-en{
    display: none !important;
    }